<!doctype html>
<head>
  <title>Graph database</title>
  <link rel="stylesheet" href="ext/style.css">

  <script type="text/javascript" src="ext/tablefilter.js"></script>
  <script type="text/javascript" src="ext/sorttable.js"></script>
  <script type="text/javascript" src="ext/querystring.js"></script>
  <script type="text/javascript" src="ext/config.js"></script>
</head>

<div id="container">
  <h1>Graph database</h1>

  <p id="backlink"><a href="./">Normal version</a></p>

  <table id="graphdb" class="filterable sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th><i>n</i></th>
        <th><i>m</i></th>
        <th>Vertex degrees</th>
        <th class="sorttable_nosort">Graph</th>
      </tr>
    </thead>
    <tbody>
      <% GRAPHS.each do |g| %>
      <tr>
        <td sorttable_customkey="<%= g[:name][1..-1] %>">
          <a href="<%= g[:name] %>-t.html"><%= g[:name] %></a>
        </td>
        <td><%= g[:n] %></td>
        <td><%= g[:m] %></td>
        <td>(<%= g[:degrees].join(', ') %>)</td>
        <td>
          <a href="<%= g[:name] %>-t.html">
            <img src="image/small/<%= g[:name] %>.png" alt=""
                 height="25">
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
