<!doctype html>
<head>
  <title>Graph database</title>
  <link href="/ext/global.css" rel="stylesheet">
  <link href="ext/style.css" rel="stylesheet">

  <script type="text/javascript" src="ext/tablefilter.js"></script>
  <script type="text/javascript" src="ext/sorttable.js"></script>
  <script type="text/javascript" src="ext/querystring.js"></script>
  <script type="text/javascript" src="ext/config.js"></script>
</head>

<div id="container">
  <h1 id="title">Graph database</h1>

  <p id="backlink"><a href="index-t.html">Thumbnail version</a></p>

  <table id="graphdb" class="filterable sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th><i>n</i></th>
        <th><i>m</i></th>
        <th>Vertex degrees</th>
      </tr>
    </thead>
    <tbody>
      <% GRAPHS.each do |g| %>
      <tr>
        <td sorttable_customkey="<%= g[:name][1..-1] %>">
          <a href="<%= g[:name] %>.html"><%= g[:name] %></a>
        </td>
        <td><%= g[:n] %></td>
        <td><%= g[:m] %></td>
        <td>(<%= g[:degrees].join(', ') %>)</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
